 const CONFIG = {
  username: '<user>',
  password: '<password>',
  tradeRoutes: [
    {
      crontime: '00 11 22 * * *', // Every day @ 22:11:00
      from: '<City name>',
      to: '<City name>',
      goods: {
        wood: 100,
        wine: 100,
        marble: 100,
        crystal: 100,
        sulphur: 100,
      },
      timezone: 'Europe/London', // https://momentjs.com/timezone/
    },
  ],
};

module.exports = { CONFIG };